/* Global Styles */
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

/* Home Component Styles */
.home-container {
    background-color: lightgreen;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
}

    .home-container nav {
        margin-top: 20px;
    }

        .home-container nav a {
            margin: 0 10px;
            text-decoration: none;
            color: darkgreen;
            font-weight: bold;
        }

            .home-container nav a:hover {
                color: darkolivegreen;
            }
