
<!DOCTYOE html>
<html lang="en" dir="ltr">
	<head>
		<meta charset="utf-8">
		<title>ExpenseTracker</title>

	</head>
	 <body>

    <div>
	    <form action="/" method="post">

	      <h3>Enter Username and password to login or click chekcbox to create new account</h3>
	      <p> <%= loginTitle %></p>

	      <input
	        name="usernameInput"
	        placeholder="username"
	        autocomplete="off"
	      />

	      <input
	        name="passwordInput"
	        placeholder="password"
	        autocomplete="off"
	      />

	      <button type="submit" name="loginButton">login/Create User</button>

	      <input name="newAccountSwitch" type="checkbox" value="newAccount"></input>
	      <label for="newAccountSwitch">Create New account?</label><br>
	    </form>
    </div>
  </body>
</html>
