<!DOCTYOE html>
<html lang="en" dir="ltr">
	<head>
		<meta charset="utf-8">
		<title>ExpenseTracker</title>

	</head>
	 <body>

       <!-- Menu form for navigating between different pages -->
       <form action="/menu" method="post" name="menuForm">
         <button type="submit" name="menuButton" value="home">edit/view expenses</button>
         <button type="submit" name="menuButton" value="visual">Visual report</button>
         <button type="submit" name="menuButton" value="monthly">monthly report</button>
         <button type="submit" name="menuButton" value="logout">lougout</button>

       </form>

      <h1> This is where visual reports will go </h1>
   </body>
 </html>
