<!DOCTYOE html>
<html lang="en" dir="ltr">
	<head>
		<meta charset="utf-8">
			<title>ExpenseTracker</title>

			<link rel="stylesheet" type="text/css" href="css/styles.css">
	</head>
	<body class="text-center">

		<div>
			<form action="/" method="post">

				<h3>Enter Username and password to login or click chekcbox to create new account</h3>
				<p>
					<%= loginTitle %>
				</p>

				<input
				  name="usernameInput"
				  placeholder="username"
				  autocomplete="off"
						  class="top"
	      />
				<br>

					<input
					  name="passwordInput"
					  placeholder="password"
					  autocomplete="off"
							  class="bottom"
	      />
					<br>

						<button class="btn btn-lg btn-primary btn-block" type="submit" name="loginButton">login/Create User</button>
						<br>

							<input name="newAccountSwitch" type="checkbox" value="newAccount"></input>
							<label for="newAccountSwitch">Create New account?</label>
							<br>
	    
			</form>
		</div>
	</body>
</html>