<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
			<title>Login</title>
			<link rel="stylesheet" href="css/styles.css">
</head>
	<body>
		<form action="/" method="post">
			<h3>Enter Username and password to login or click checkbox to create new account</h3>
			<p>
				<%= loginTitle %>
			</p>
			<input
				type="text"
				name="usernameInput"
				placeholder="Username"
				required=""
        />
			<input
				type="password"
				name="passwordInput"
				placeholder="Password"
				required=""
        />
			<label>
				<input type="checkbox" name="newAccountSwitch"> Create new account
        </label>
			<button type="submit">Login</button>
		</form>
	</body>
</html>
